.info
  .info__container
    .info__title WE'RE READY TO HELP 
      hr.info__hr 
    .info__text Life is full of choices. We are here to support you with the choices you need to make to get
      .info__text.-blue the best out your life savings.
    .info__inner 
      include ../InfoItem/InfoItem
      include ../InfoItem/InfoItem
      include ../InfoItem/InfoItem
      include ../InfoItem/InfoItem
    .info__footer 
      img.info__icon(src="./assets/images/Info/icon.png" alt="calc")
      a.info__link(href="calculator.html") COMPARE YOUR PENSION INCOME OPTIONS