.article
  .article__container 
    .article__Section
      .article__title DOUBLE BILL AT THE PENSIONALITE OFFICE
      .article__secondTitle Life is full of choices. We are here to support you with the choices you need to make to get 
        b the best out of your life savings.
      img.article__img(src="./assets/images/Article/img1.png" alt="article")
      p.article__text.
        Yesterday we had a reunion here at the Pensionalite office as Abrham
        Darby Academy pupil and budding artist Ellie Perks came in to see us.
      p.article__text.
        For those not familiar with the story - a few weeks ago we purchased
        a giant nine foot duck at a local charity auction.
      p.article__text.
        The colourful creations were the main atrractions for Telford's Let's Go Quackers art 
        trial this summer and were the brain child of local resident Julie Ward
        who was inspired by a Norwich gorilla trial she heard about in 2013.
      p.article__text.
        Not only dod we bid on and win a duck called C-Ellie-Brate, but we also 
        got to meet the designer, 13-year old Ellie Perks.
      p.article__text.
        She was bursting with enthusiasm and passion which we loved and so decided to bid on the smaller version of 
        her design which was donated to event by artist Traci Moss - who brought Ellie's design to life.
      p.article__text.
        We successfully won that auction as well, and as a gift from us at Pensionlite we gave the miniature 
        C-Ellite-Brate to Ellie so she would have something to remember her artistic experience.
      .article__quote 
        img.article__quotation(src="./assets/images/Article/quotation.png" alt="quotation")
        .article__quoteText The giant duck has been in the corner of our office reception for almost a month - and it doesn't look out of place.
      p.article__text.
        We've had so many comments when people call us or come into visit, and we are very proud that we were able to
        contribute to such an amazing event which also helped two fantastic charities; Severn Hospice and the Jayne Sergent Foundation.
      .article__photo
        img.article__img(src="./assets/images/Article/img2.png" alt="article")
        .article__imgTitle Managing director Mike Shaw and designer Ellie Parks
    