.reviews
  .reviews__container 
    img.reviews__img(src="./assets/images/Reviews/review.png" alt="review")
    .reviews__inner 
      include ../ReviewItem/ReviewItem
      include ../ReviewItem/ReviewItem



