.latestArticlesItem
  a.latestArticlesItem__link(href="")
    .latestArticlesItem__flex
      .latestArticlesItem__date
        .latestArticlesItem__day
        .latestArticlesItem__month 
      img.latestArticlesItem__img(src="./assets/images/LatestArticlesItem/img1.png")
      .latestArticlesItem__inner
        .latestArticlesItem__title 
        .latestArticlesItem__text 
