.calculator
  .calculator__container
    .calculator__title COMPARE TOUR PENSION INCOME OPTIONS TODAY
    .calculator__text 
      b Use our Free quote
      | service to compare the best pension income options from top UK annuity providers.
      br
      | Our specjalists search the whole market to fint out highest retirment income you could reveive.
      b Start by completinh our form below.
    form.calculator__form(action="")
      .calculator__text I am
      .calculator__inner
        span.calculator__start START HERE!
        input.calculator__input(id="age" placeholder="i.e 55" required)
      .calculator__text Years Of Age And My Pension Pot Is Approximately
      input.calculator__input(id="pension" placeholder="£" required)
      button.calculator__button CALCULATE THE BEST ANNUITY RATES » 