.latestArticles
  .latestArticles__container 
    .latestArticles__title LATEST ARTICLES
      hr.latestArticles__hr
    .latestArticles__inner
      .latestArticles__firstItem
        include ../LatestArticlesItem/LatestArticlesItem
        .latestArticles__readMore 
          a.latestArticles__link(href="") READ MORE
      .latestArticles__box
        include ../LatestArticlesItem/LatestArticlesItem
        include ../LatestArticlesItem/LatestArticlesItem