.whoWeAre
  img.whoWeAre__crest(src="./assets/images/WhoWeAre/crest.png" alt="crest")
  .whoWeAre__inner
    .whoWeAre__container
      .whoWeAre__title.-first WHO WE ARE 
        hr.whoWeAre__hr 
      .whoWeAre__box 
        .whoWeAre__text.-width50
          | We are an independent service helping to introduce you to 
          p.whoWeAre__textOrange Financial Conduct Authority
          | (FCA) regulated independent Financial Advisers, who can help you to better understand your pension and advise you on how best to manage it. 
          p.whoWeAre__textOrange We have more than 20 year's experience.
          | As a group, we oversee the transfer of in excess of 
          p.whoWeAre__textOrange £2 milion
          | of pension funds every month. We help you search out the right adviser to enable you to take control of your pension and your future.
        .whoWeAre__info
          .whoWeAre__text.-orangeBig.-width50 20
            .whoWeAre__text.-big years experience
          .whoWeAre__text.-orangeBig.-width50 £2
            .whoWeAre__text.-big milion of pensions funds every month
  .whoWeAre__inner.-second
    .whoWeAre__container
      .whoWeAre__box.-second
        .whoWeAre__item
          .whoWeAre__title.-paddingBottom FREE CONSULTATION
          .whoWeAre__text.-secondInner
            | If you wolud like to find out more about these services and how we can help you simply speak to one of our advisers today.
        .whoWeAre__item
          .whoWeAre__title.-paddingLeftRight AUTHORISE
          .whoWeAre__text.-secondInner.-border  
            | All our IFA's are regulated by the FCA and qualified to advise you.
        .whoWeAre__item
          .whoWeAre__title.-paddingBottom EXPERT ADVICE
          .whoWeAre__text.-secondInner 
            | Each IFA firm is an expert in a wide variety of pension planning including personal pension transfers, retirement planning and final slalry pension transfers.


          

