.reviewItem 
  img.reviewItem__img(src="" alt="person")
  .reviewItem__info 
    img.reviewItem__star(src="./assets/images/ReviewItem/star.png" alt="star")
    img.reviewItem__star(src="./assets/images/ReviewItem/star.png" alt="star")
    img.reviewItem__star(src="./assets/images/ReviewItem/star.png" alt="star")
    img.reviewItem__star(src="./assets/images/ReviewItem/star.png" alt="star")
    img.reviewItem__star(src="./assets/images/ReviewItem/star.png" alt="star")
    .reviewItem__text 
    .reviewItem__name

