extends ./../components/layout/_layout

block content
	//- PUT CODE HERE
	include ../components/Header/Header
	include ../components/YouAreHere/YouAreHere
	include ../components/Calculator/Calculator
	include ../components/WhoWeAre/WhoWeAre
	include ../components/reviews/Reviews
	include ../components/Footer/Footer



