extends ./../components/layout/_layout

block content
  //- PUT CODE HERE
  include ../components/Header/Header
  include ../components/Banner/Banner
  include ../components/Info/Info
  include ../components/WhoWeAre/WhoWeAre
  include ../components/HelpTips/HelpTips
  include ../components/Reviews/Reviews
  include ../components/LatestArticles/LatestArticles
  include ../components/Footer/Footer



