.header
  .header__container 
    .header__item
      img.header__logo(src="./assets/images/Header/logo.png" alt="logo")
    .header__item
      img.header__logo.-second(src="./assets/images/Header/logo2.png" alt="logo")
    include ../Menu/Menu
    .header__item 
      img.header__logo.-second(src="./assets/images/Header/logo3.png" alt="logo")
    .header__toggle
      .header__toggleBar
.header__place
  img.header__logo.-hidden(src="./assets/images/Header/logo.png" alt="logo")