.footer 
  display: block
  width: 100%
  background-color: $blue

  &__container
    max-width: 1280px
    margin: auto

  .footer__info
    display: flex
    width: 100%
    padding: 30px 0px
    justify-contain: space-between
    align-items: center

    &.-borderBottom
      border-bottom: 1px solod $white

    &.-second
      flex-direction: column