.footer
  .footer__container
    .footer__info.-borderBottom
      .footer__item
        img.footer__logo(src="./assets/images/Footer/logo/png" alt="logo")
      .footer__item
        .footer__title Address:
        .footer__text 40 Bloomsbury Way
        .footer__text Lower Ground Floor
        .footer__text London, WC1A 2SE
        .footer__text.-bold Fallow Us: 
          img.footer__icon(src="./assets/images/Footer/fb.png")
      .footer__item
        .footer__title Contact: 
        .footer__text.-bold Phone: 
        .footer__text 08000029464
        .footer__text.-bold E-mail:
        .footer__text office@yourpensionhelper.co.uk
      .footer__item
        .footer__title Menu: 
        ul.footer__list 
          li.footer__item
            a.footer__link(href="#") About Us
          li.footer__item 
            a.footer__link(href="#") Our Services
          li.footer__item 
            a.footer__link(href="#") Articles
          li.footer__item 
            a.footer__link(href="#") Contact Us
    .footer__info.-second
      .footer__text.
        Your Pension Helper is not regulated by the Financial Conduct Authority. 
        Therefore, we are not authorised to provide financial advice in relation to your pension, but we can 
        refer you to a suitably qualifed and regulated finansial adviser who can do this on our behalf.
        We will provide you with information only to enable you to assess your current pension situation.
      .footer__text.
        If you would like to find out how much your pension would be worth in retirement and what options you have to improve 
        your retirement income, contact us for a free, no-obligation appointment.

