.helpTips
  .helpTips__container
    .helpTips__title PENSION HELP & TIPS
      hr.helpTips__hr
    .helpTips__inner
      include ../HelpTipsItem/HelpTipsItem
      include ../HelpTipsItem/HelpTipsItem
      include ../HelpTipsItem/HelpTipsItem
      include ../HelpTipsItem/HelpTipsItem
      include ../HelpTipsItem/HelpTipsItem
      include ../HelpTipsItem/HelpTipsItem
