.banner
  .banner__container
    .banner__inner
      .banner__title MAKING
        b GOOD 
        | CHOICES
        b WITH YOUR LIFE SAVINGS
      .banner__text Whatever your plans for the future we are here
        b to help you take the next step.
    include ../BannerForm/BannerForm

